@font-face {
  font-family: "NanumBarunGothic";
  src: url("/static/fonts/NanumBarunGothicUltraLight.ttf");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "NanumBarunGothic";
  src: url("/static/fonts/NanumBarunGothicLight.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "NanumBarunGothic";
  src: url("/static/fonts/NanumBarunGothic.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "NanumBarunGothic";
  src: url("/static/fonts/NanumBarunGothicBold.ttf");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
